In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("https://data.hossam.kr/C02/body.xlsx", index_col="name")

#### skack()
return 결과가 Series 객체다

In [4]:
st=df.stack()

In [8]:
st1=df.stack(dropna=False)

In [10]:
print(pd.DataFrame(st).loc["Hong"])
print('-----------------------')
print(pd.DataFrame(st1).loc["Hong"])

          0
sex       M
height  180
-----------------------
          0
sex       M
height  180
weight  NaN

In [11]:
st1.unstack()

     sex height weight
name
Lee    M    175   98.0
Park   F    167   48.0
Hong   M    180    NaN
Kim    F    162   55.0
Nam    M    172   85.0