# 단일표본 T-test

하나의 모집단에서의 평군의 변화를 통계적으로 확인

In [2]:
import scipy as sp
import pandas as pd

In [4]:
Data=pd.read_excel("https://data.hossam.kr/E02/temperature.xlsx")

$h_0$ : $\mu$=24.3 (강아지의 체온은 24.3이다)

In [5]:
sp.stats.ttest_1samp(Data["체온"],24.3)

TtestResult(statistic=2.7127692953052716, pvalue=0.012145537241648427, df=24)

p-value<0.5 이므로 $h_0$ 기각

$h_1$ : $\mu$>24.3

In [6]:
sp.stats.ttest_1samp(Data["체온"],24.3,alternative="greater")

TtestResult(statistic=2.7127692953052716, pvalue=0.006072768620824213, df=24)

$h_1$ : $\mu$<24.3

In [7]:
sp.stats.ttest_1samp(Data["체온"],24.3,alternative="less")

TtestResult(statistic=2.7127692953052716, pvalue=0.9939272313791758, df=24)