In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import scipy.stats as st
import sys
import os
import scipy as sp

In [4]:
sys.path.append("../my_Funtions/")

In [5]:
import helper

## 연습문제 3

### 문제 1.

In [6]:
# 데이터
D=pd.read_excel('https://data.hossam.kr/E02/reading.xlsx')
data=pd.DataFrame(D)

In [7]:
trans={y:x for x,y in list(enumerate(data["독서방법"].unique()))}

In [8]:
data["독서방법"]=data["독서방법"].apply(lambda x:trans[x])

In [9]:
data

    독서방법  점수
0      0   6
1      0   9
2      0   2
3      0  16
4      1   7
5      1   7
6      1  12
7      1  10
8      1  16
9      2  11
10     2   7
11     2   4
12     2   7
13     2   7

#### 각각의 정규성 검정
> 결과 : 점수는 정규성을 가진다

In [11]:
sp.stats.normaltest(data[data.columns[1]])

NormaltestResult(statistic=1.0190417208518179, pvalue=0.6007833689484576)

### 등분산성 검토
> 결과  :

In [108]:
sp.stats.ttest

LeveneResult(statistic=1.3514851485148516, pvalue=0.3067318189579006)

### 문제2

In [68]:
Data2=pd.read_excel('https://data.hossam.kr/E02/tomato.xlsx')
data2=pd.DataFrame(Data2)

In [71]:
data2["효소함량"].value_counts()

효소함량
0        4
1000     4
5000     4
10000    4
Name: count, dtype: int64

In [81]:
pre_data2=pd.DataFrame(columns=data2["효소함량"].unique())

In [82]:
pre_data2

Empty DataFrame
Columns: [0, 1000, 5000, 10000]
Index: []

In [83]:
for col in data2["효소함량"].unique():
    pre_data2[col]=data2[data2["효소함량"]==col].reset_index()["모종성장"]

In [88]:
pre_data2[1000]

0    11.1
1    11.2
2     8.2
3    11.3
Name: 1000, dtype: float64