# 사후분석

### ANOVA 검증결과 유의미하다는 결론이 전제

> 반복을 진행할 수록 FWER(Familywise Error Rate)값이 증가함. 따라서 이를 조정해주는 방법이 요구됨

1. 봉페르니 교정
2. 투키의  HSD
3. 피셔의 LSD : 실제 보정을 하진 않음
4. 세페의 method : 지나치게 보수적

In [5]:
import pandas as pd

# 분산분석을 위한 라이브러리
import  statsmodels.formula.api as sf
import  statsmodels.stats.anova as anova

# 사후분석을 위한 라이브러리
from statsmodels.sandbox.stats.multicomp import MultiComparison
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import scipy.stats as scst

# helper 참조
import sys
import os
sys.path.append('../my_Funtions/')
import helper #import normality_test, equal_variance_test, independence_test, all_test

In [6]:
D=pd.read_excel("https://data.hossam.kr/E02/tree_weight.xlsx")

In [7]:
data=pd.DataFrame(D)

In [8]:
data.head(2)

   weight group
0    4.17     A
1    5.58     A

In [10]:
data["group"]=data["group"].apply(lambda x:ord(x)-64)

In [12]:
helper.all_test(data['group'],data["weight"])

                                      statistic       p-value  result
condition test       field
정규성       shapiro    group             0.795503  5.434527e-05   False
                     weight            0.982683  8.915055e-01    True
          normaltest group            17.211505  1.830498e-04   False
                     weight            0.568335  7.526404e-01    True
          ks_2samp   group vs weight   1.000000  1.691123e-17   False
                     weight vs group   1.000000  1.691123e-17   False
등분산성      Bartlett   group vs weight   0.812217  3.674655e-01    True
          Fligner    group vs weight   1.419281  2.335219e-01    True
          Levene     group vs weight   0.849158  3.606080e-01    True
독립성       Chi2       group vs weight   6.734629  9.999942e-01    True

In [14]:
model=sf.ols("weight~C(group)",data=data).fit()

In [16]:
anova.anova_lm(model)

            df    sum_sq   mean_sq         F   PR(>F)
C(group)   2.0   3.76634  1.883170  4.846088  0.01591
Residual  27.0  10.49209  0.388596       NaN      NaN

In [18]:
comp=MultiComparison(data["weight"],data["group"])
comp.allpairtest(scst.ttest_ind,method="bonf")[0]

### 투키의 HSD

In [21]:
hsd=pairwise_tukeyhsd(data["weight"],data["group"],alpha=0.5)

In [22]:
hsd.summary()