In [1]:
import pandas as pd
import random as rd

In [20]:
data={}
for i in range(4):
    data[i]=["".join([chr(rd.randrange(0,10)+97) for _ in range(4)]) for _ in range(4)]

In [21]:
test=pd.DataFrame(data=data)

In [22]:
test

      0     1     2     3
0  dcia  geci  bedh  gedc
1  fbeg  ahga  hhic  didj
2  jbbj  chci  ceha  eddf
3  ebjh  dhhj  jagd  cdga

In [31]:
test.apply(lambda x:[y[0] for y in x])

   0  1  2  3
0  d  g  b  g
1  f  a  h  d
2  j  c  c  e
3  e  d  j  c