## ì‹¤ê¸° ìœ í˜• 1
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

In [1]:
import pandas as pd
data=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\ê³µë¶€íŒŒì¼ë“¤\ì¹´ê¸€\KR_youtube_trending_data.csv")

In [2]:
data.head(2)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-12T00:00:00Z,ë³´ê²¸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN
1,I-ZbZCHsHD0,ë¶€ë½í† ìŠ¤ì˜ ê³„íš [ì´ëª‡ëª… í”„ë¦¬í€„],2020-08-12T09:00:08Z,UCRuSxVu4iqTK5kCh90ntAgA,ì´ëª‡ëª…,1,2020-08-12T00:00:00Z,ì´ëª‡ëª…|ì¬ë°ŒëŠ” ë§Œí™”|ë¶€ë½í† ìŠ¤|ë£¨ì‹œí¼|ì´ëª‡ëª… í”„ë¦¬í€„|ì´ëª‡ëª… ìŠ¤í† ë¦¬,963384,28244,494,3339,https://i.ytimg.com/vi/I-ZbZCHsHD0/default.jpg,False,False,"ì˜¤ëŠ˜ë„ ì •ë§ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤!!ì´ëª‡ëª… ìŠ¤íŠœë””ì˜¤ - ì´ëª‡ëª…, ì‹­ì œê³±, 5Gë¯¼, MOVEí˜..."

### Q1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)
ë‹µ : ['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']

In [3]:
# ì¸ê¸°ë™ì˜ìƒ ê¸°ì¤€ : viuw_count
# ë‚ ì§œ ê¸°ì¤€ì´ê³  ì¤‘ë³µ í—ˆìš©ì´ë¯€ë¡œ ë‚ ì§œë¶€í„°
date_sum=pd.DataFrame(data.groupby(["trending_date"])["channelTitle"].value_counts()).reset_index()

In [4]:
head_df=pd.DataFrame(date_sum.groupby(["channelTitle"])["count"].sum()).reset_index()
head_df.sort_values("count",ascending=False).head(10)

                channelTitle  count
3485                     íŒŒë¿Œë¦¬   1301
3266                  ì±„ë„ ì‹­ì˜¤ì•¼   1172
3307                     ì´ëª‡ëª…   1138
119                BANGTANTV   1127
2383                     ìˆë°•ìŠ¤   1113
912                   SMTOWN   1103
2704  ì˜êµ­ë‚¨ì Korean Englishman   1094
3041                     ì¥ì‚ì­ˆ   1027
657                  MBCNEWS   1018
3235                      ì§¤íˆ°   1018

í’€ì´ 2

In [19]:
head_id=pd.DataFrame(data["channelId"].value_counts().head(10)).reset_index()
result=pd.merge(head_id["channelId"],data[["channelId",'channelTitle']],how='left')

In [23]:
print(list(result["channelTitle"].unique()))

['íŒŒë¿Œë¦¬', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì±„ë„ì‹­ì˜¤ì•¼', 'Big Hit Labels', 'HYBE LABELS', 'ì´ëª‡ëª…', 'BANGTANTV', 'ìˆë°•ìŠ¤', 'SMTOWN', 'ì˜êµ­ë‚¨ì Korean Englishman', 'ì¥ì‚ì­ˆ', 'ì§¤íˆ°']

### Q2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [25]:
idx1=data["dislikes"]>data["likes"]
data.loc[idx1,"channelTitle"].unique()

array(['ë³´ê²¸ BK', 'ì–‘íŒ¡ YangPang', 'ì„ë‹¤TV', 'ì• ì£¼ê°€TVì°¸PD', '[Nareum_TV] ë‚˜ë¦„TV',
       'ì •ë°°ìš° : ì‚¬ê±´ì‚¬ê³ ì´ìŠˆ', 'SANDBOX NETWORK (ìƒŒë“œë°•ìŠ¤ ë„¤íŠ¸ì›Œí¬)', 'ì˜¤í”„ë¼ì´ë“œoh-pride',
       'ì£¼ì˜¥ìˆœTV ì—„ë§ˆë°©ì†¡', 'ì„œìš¸ì‹œ Â· Seoul', 'í™œë ¥ì†ŒTV', 'SPOTV', 'í‹°ë…¸', 'ì• ë‹ˆëµ', 'í•œì£¼ë¨¹',
       'ë‹¤ì •í•œë¶€ë¶€ a loving couple', 'LOTTEChemical Official', 'í•«ë„ê·¸TV',
       'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
       '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR',
       'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
       'Gen.G esports', 'ì— ë¹…ë‰´ìŠ¤'], dtype=object)

### Q3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [32]:
count_df=pd.DataFrame(data.groupby("channelId")["channelTitle"].nunique()).reset_index()
count_df

                     channelId  channelTitle
0     UC-0229MiVYnQoUxdLJnFl_g             1
1     UC-0C8yVGJy-cS4FGlYKelWw             2
2     UC-0tICWyA0_AJAVMBHL8GdQ             1
3     UC-2Y8dQb0S6DtpxNgAKoJKA             1
4     UC-2wa6jvprl7hfCpvw0ULzg             1
...                        ...           ...
3435  UCzw-C7fNfs018R1FzIKnlaA             1
3436  UCzxXBQnJy9guqVNM6KXi0Ig             1
3437  UCzz58-H0wzmGoFi3MO_9ePQ             1
3438  UCzznO4xSV8BKnUBPyswtCUw             1
3439  UCzzt6bFEBcy-CoZeFvTSq0A             1

[3440 rows x 2 columns]

In [37]:
count_df[count_df["channelTitle"]>1]["channelId"].count()

272

í’€ì´ 2

In [48]:
count_df2=pd.DataFrame(data[["channelId","channelTitle"]].drop_duplicates().channelId.value_counts())
count_df2

                          count
channelId
UCMqf4xHGNcxIdysVSE6KyTg      4
UCC1LvVTX2ySKYjeIXkAtvsQ      4
UCjHO2W3wp44Bh1xh2HD9uIQ      4
UCkjk77yUtLnuSalpGrlrG2Q      4
UC98TOxKQk4aLcx0EjIK0LkQ      4
...                         ...
UCU9_ebZ3cHzknWeL9TwOr6A      1
UCSGi7jxv1fqTx9hYI_lrGdg      1
UCAFlBkLMn1dmdYk0kBud4RA      1
UCgZlBRLRB1-0l-qL9BkecLQ      1
UCmKd9biECG0kowR8BysVLdA      1

[3440 rows x 1 columns]

In [49]:
count_df2[count_df2["count"]>1]

                          count
channelId
UCMqf4xHGNcxIdysVSE6KyTg      4
UCC1LvVTX2ySKYjeIXkAtvsQ      4
UCjHO2W3wp44Bh1xh2HD9uIQ      4
UCkjk77yUtLnuSalpGrlrG2Q      4
UC98TOxKQk4aLcx0EjIK0LkQ      4
...                         ...
UCY2wHBgv2W30w6lqoLxq99g      2
UCfHsXdttq6t-59HaJKgk5uw      2
UCee1MvXr6E8qC_d2WEYTU5g      2
UCZ0dIs-Ao2v8eZF4WOYH5uw      2
UCudezj2i6R94QOPqGJhbZwg      2

[272 rows x 1 columns]

### Q4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [52]:
data["publishedAt"]=pd.to_datetime(data["publishedAt"])

In [60]:
df=data.copy()
df['day_name']=data["publishedAt"].apply(lambda x:x.day_name())

In [69]:
pd.DataFrame(df[df["day_name"]=="Sunday"].categoryId.value_counts())

            count
categoryId
24           8552
22           6161
17           3279
10           2315
23           2101
26           1715
19           1359
20           1194
25           1126
1             763
15            469
27            458
2             353
28            202
29             17

### Q5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [73]:
pd.DataFrame(df.groupby("day_name")["categoryId"].value_counts())

                      count
day_name  categoryId
Friday    24          15071
          22           6008
          10           5050
          23           2560
          17           1980
...                     ...
Wednesday 15            925
          28            816
          27            539
          2             423
          29             28

[105 rows x 1 columns]

### Q6.ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [78]:
q6=data[data["view_count"]!=0]
q6["c/v"]=q6["comment_count"]/q6["view_count"]

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_17032\281194961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q6["c/v"]=q6["comment_count"]/q6["view_count"]

In [84]:
q6.loc[q6["c/v"]==q6["c/v"].max(),"title"]

75385    60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)
Name: title, dtype: object

### Q7. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [87]:
q7=data.copy()
idx1=q7["likes"]!=0
idx2=q7["dislikes"]!=0
q7=q7[idx1&idx2]

In [90]:
q7['d/l']=q7["dislikes"]/q7["likes"]

In [100]:
q7.loc[q7["d/l"]==q7["d/l"].min(),"title"]

36032    [ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€...
Name: title, dtype: object

ì§¤íˆ°