## 실기 유형 1
데이터 출처 :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

In [1]:
import pandas as pd
data=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\공부파일들\카글\KR_youtube_trending_data.csv")

In [2]:
data.head(2)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,uq5LClQN3cE,안녕하세요 보겸입니다,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,보겸 BK,24,2020-08-12T00:00:00Z,보겸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN
1,I-ZbZCHsHD0,부락토스의 계획 [총몇명 프리퀄],2020-08-12T09:00:08Z,UCRuSxVu4iqTK5kCh90ntAgA,총몇명,1,2020-08-12T00:00:00Z,총몇명|재밌는 만화|부락토스|루시퍼|총몇명 프리퀄|총몇명 스토리,963384,28244,494,3339,https://i.ytimg.com/vi/I-ZbZCHsHD0/default.jpg,False,False,"오늘도 정말 감사드립니다!!총몇명 스튜디오 - 총몇명, 십제곱, 5G민, MOVE혁..."

### Q1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)
답 : ['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [3]:
# 인기동영상 기준 : viuw_count
# 날짜 기준이고 중복 허용이므로 날짜부터
date_sum=pd.DataFrame(data.groupby(["trending_date"])["channelTitle"].value_counts()).reset_index()

In [4]:
head_df=pd.DataFrame(date_sum.groupby(["channelTitle"])["count"].sum()).reset_index()
head_df.sort_values("count",ascending=False).head(10)

                channelTitle  count
3485                     파뿌리   1301
3266                  채널 십오야   1172
3307                     총몇명   1138
119                BANGTANTV   1127
2383                     숏박스   1113
912                   SMTOWN   1103
2704  영국남자 Korean Englishman   1094
3041                     장삐쭈   1027
657                  MBCNEWS   1018
3235                      짤툰   1018

풀이 2

In [19]:
head_id=pd.DataFrame(data["channelId"].value_counts().head(10)).reset_index()
result=pd.merge(head_id["channelId"],data[["channelId",'channelTitle']],how='left')

In [23]:
print(list(result["channelTitle"].unique()))

['파뿌리', '채널 십오야', '채널십오야', 'Big Hit Labels', 'HYBE LABELS', '총몇명', 'BANGTANTV', '숏박스', 'SMTOWN', '영국남자 Korean Englishman', '장삐쭈', '짤툰']

### Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [25]:
idx1=data["dislikes"]>data["likes"]
data.loc[idx1,"channelTitle"].unique()

array(['보겸 BK', '양팡 YangPang', '임다TV', '애주가TV참PD', '[Nareum_TV] 나름TV',
       '정배우 : 사건사고이슈', 'SANDBOX NETWORK (샌드박스 네트워크)', '오프라이드oh-pride',
       '주옥순TV 엄마방송', '서울시 · Seoul', '활력소TV', 'SPOTV', '티노', '애니띵', '한주먹',
       '다정한부부 a loving couple', 'LOTTEChemical Official', '핫도그TV',
       'ASMR 애정TV', '하얀트리HayanTree', '철구형 (CHULTUBE)', '왜냐맨하우스',
       '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR',
       'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO',
       'Gen.G esports', '엠빅뉴스'], dtype=object)

### Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [32]:
count_df=pd.DataFrame(data.groupby("channelId")["channelTitle"].nunique()).reset_index()
count_df

                     channelId  channelTitle
0     UC-0229MiVYnQoUxdLJnFl_g             1
1     UC-0C8yVGJy-cS4FGlYKelWw             2
2     UC-0tICWyA0_AJAVMBHL8GdQ             1
3     UC-2Y8dQb0S6DtpxNgAKoJKA             1
4     UC-2wa6jvprl7hfCpvw0ULzg             1
...                        ...           ...
3435  UCzw-C7fNfs018R1FzIKnlaA             1
3436  UCzxXBQnJy9guqVNM6KXi0Ig             1
3437  UCzz58-H0wzmGoFi3MO_9ePQ             1
3438  UCzznO4xSV8BKnUBPyswtCUw             1
3439  UCzzt6bFEBcy-CoZeFvTSq0A             1

[3440 rows x 2 columns]

In [37]:
count_df[count_df["channelTitle"]>1]["channelId"].count()

272

풀이 2

In [48]:
count_df2=pd.DataFrame(data[["channelId","channelTitle"]].drop_duplicates().channelId.value_counts())
count_df2

                          count
channelId
UCMqf4xHGNcxIdysVSE6KyTg      4
UCC1LvVTX2ySKYjeIXkAtvsQ      4
UCjHO2W3wp44Bh1xh2HD9uIQ      4
UCkjk77yUtLnuSalpGrlrG2Q      4
UC98TOxKQk4aLcx0EjIK0LkQ      4
...                         ...
UCU9_ebZ3cHzknWeL9TwOr6A      1
UCSGi7jxv1fqTx9hYI_lrGdg      1
UCAFlBkLMn1dmdYk0kBud4RA      1
UCgZlBRLRB1-0l-qL9BkecLQ      1
UCmKd9biECG0kowR8BysVLdA      1

[3440 rows x 1 columns]

In [49]:
count_df2[count_df2["count"]>1]

                          count
channelId
UCMqf4xHGNcxIdysVSE6KyTg      4
UCC1LvVTX2ySKYjeIXkAtvsQ      4
UCjHO2W3wp44Bh1xh2HD9uIQ      4
UCkjk77yUtLnuSalpGrlrG2Q      4
UC98TOxKQk4aLcx0EjIK0LkQ      4
...                         ...
UCY2wHBgv2W30w6lqoLxq99g      2
UCfHsXdttq6t-59HaJKgk5uw      2
UCee1MvXr6E8qC_d2WEYTU5g      2
UCZ0dIs-Ao2v8eZF4WOYH5uw      2
UCudezj2i6R94QOPqGJhbZwg      2

[272 rows x 1 columns]

### Q4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [52]:
data["publishedAt"]=pd.to_datetime(data["publishedAt"])

In [60]:
df=data.copy()
df['day_name']=data["publishedAt"].apply(lambda x:x.day_name())

In [69]:
pd.DataFrame(df[df["day_name"]=="Sunday"].categoryId.value_counts())

            count
categoryId
24           8552
22           6161
17           3279
10           2315
23           2101
26           1715
19           1359
20           1194
25           1126
1             763
15            469
27            458
2             353
28            202
29             17

### Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [73]:
pd.DataFrame(df.groupby("day_name")["categoryId"].value_counts())

                      count
day_name  categoryId
Friday    24          15071
          22           6008
          10           5050
          23           2560
          17           1980
...                     ...
Wednesday 15            925
          28            816
          27            539
          2             423
          29             28

[105 rows x 1 columns]

### Q6.댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [78]:
q6=data[data["view_count"]!=0]
q6["c/v"]=q6["comment_count"]/q6["view_count"]

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_17032\281194961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q6["c/v"]=q6["comment_count"]/q6["view_count"]

In [84]:
q6.loc[q6["c/v"]==q6["c/v"].max(),"title"]

75385    60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
Name: title, dtype: object

### Q7. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [87]:
q7=data.copy()
idx1=q7["likes"]!=0
idx2=q7["dislikes"]!=0
q7=q7[idx1&idx2]

In [90]:
q7['d/l']=q7["dislikes"]/q7["likes"]

In [100]:
q7.loc[q7["d/l"]==q7["d/l"].min(),"title"]

36032    [줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가...
Name: title, dtype: object

짤툰