In [2]:
import pymysql
import sqlalchemy
import pandas as pd
import cryptography

#### PYMYSQL

In [3]:
db=pymysql.connect(
        host="127.0.0.1",
        port=3306,
        user="root",
        password='1234',
        database='board2',
        charset="utf8")

In [4]:
cursor=db.cursor()

In [9]:
queary="SELECT * FROM board_main_post"
cursor.execute(queary)
result=cursor.fetchall()
result

((1,
  '제목입니다',
  ' 내용입니다',
  datetime.datetime(2023, 6, 15, 1, 30, 45, 224519),
  datetime.datetime(2023, 6, 15, 1, 30, 45, 224519),
  1),
 (2,
  'kim입니다',
  '변경되나요? ㅇㅇㅇㅇㅇ',
  datetime.datetime(2023, 6, 15, 2, 2, 42, 795115),
  datetime.datetime(2023, 6, 15, 6, 13, 1, 234891),
  3))

딕셔너리 형태로도 가능함

In [10]:
cursor=db.cursor(pymysql.cursors.DictCursor)

In [11]:
queary="SELECT * FROM board_main_post"
cursor.execute(queary)
result=cursor.fetchall()
result

[{'id': 1,
  'title': '제목입니다',
  'content': ' 내용입니다',
  'created_time': datetime.datetime(2023, 6, 15, 1, 30, 45, 224519),
  'updated_time': datetime.datetime(2023, 6, 15, 1, 30, 45, 224519),
  'author_id': 1},
 {'id': 2,
  'title': 'kim입니다',
  'content': '변경되나요? ㅇㅇㅇㅇㅇ',
  'created_time': datetime.datetime(2023, 6, 15, 2, 2, 42, 795115),
  'updated_time': datetime.datetime(2023, 6, 15, 6, 13, 1, 234891),
  'author_id': 3}]

In [16]:
A=pd.DataFrame(result)
A.set_index("id",inplace=True)

In [17]:
A

,title,content,created_time,updated_time,author_id
id,,,,,
1,제목입니다,내용입니다,2023-06-15 01:30:45.224519,2023-06-15 01:30:45.224519,1
2,kim입니다,변경되나요? ㅇㅇㅇㅇㅇ,2023-06-15 02:02:42.795115,2023-06-15 06:13:01.234891,3

쿼리문을 날려보자

In [24]:
sql='''
insert into board_main_post(title,content,author_id,created_time,updated_time) 
values('it is a test','test 1234',3,now(),now())'''

In [25]:
rows=cursor.execute(sql)

In [27]:
db.commit()

In [32]:
sql='''
update board_main_post set title="change test" content='changable' updated_time=now()
where id=3 
'''

In [ ]:
rows=cursor.execute(sql)

In [34]:
sql="delete from board_main_post where id=3"
rows=cursor.execute(sql)

In [35]:
db.commit()

In [36]:
cursor.close()
db.close()

#### SQLAlchemy

In [38]:
pymysql.install_as_MySQLdb()
import MySQLdb

In [49]:
engine=sqlalchemy.create_engine("mysql+mysqldb://root:1234@127.0.0.1:3306/board2?charset=utf8")

In [51]:
conn=engine.connect()

In [52]:
df=pd.read_sql("select *from board_main_post",index_col='id',con=conn)

In [54]:
pd.read_sql_table("board_main_post",con=conn)

,id,title,content,created_time,updated_time,author_id
0,1,제목입니다,내용입니다,2023-06-15 01:30:45.224519,2023-06-15 01:30:45.224519,1
1,2,kim입니다,변경되나요? ㅇㅇㅇㅇㅇ,2023-06-15 02:02:42.795115,2023-06-15 06:13:01.234891,3

In [55]:
pd.read_sql_table("board_main_post",con=conn,columns=["title"])

    title
0   제목입니다
1  kim입니다

In [56]:
df.to_sql(name="new_table",con=conn,if_exists='append',index=False)

2

In [57]:
conn.rollback()

In [58]:
conn.close()